{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": ["plugin:import/recommended", "plugin:import/typescript", "prettier"],
	"parserOptions": {
		"project": "./tsconfig.json",
		"extraFileExtensions": [".mts"],
		"createDefaultProgram": true
	},
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"prettier/prettier": "error",
		"arrow-body-style": "off",
		"prefer-arrow-callback": "off",
		"semi": ["error", "always"],
		"quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
		"comma-dangle": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/no-explicit-any": 1,
		"@typescript-eslint/no-var-requires": 0,
		"@typescript-eslint/no-inferrable-types": [
			"warn",
			{
				"ignoreParameters": true
			}
		],
		"@typescript-eslint/no-unused-vars": "warn",
		"@typescript-eslint/comma-dangle": ["off"],
		"import/order": [
			"error",
			{
				"groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object"],
				"newlines-between": "never",
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		],
		"import/no-unresolved": [
			2,
			{
				"ignore": ["@base/app", "@base/constructs", "@base/stacks"]
			}
		]
	},
	"settings": {
		"import/extensions": [".js", ".jsx", ".ts", ".mts", ".tsx"],
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".mts", ".tsx"]
		},
		"import/ignore": ["semver"],
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true,
				"project": "tsconfig.json"
			},
			"alias": {
				"map": [
					["@base/app", "./lib/base/app"],
					["@base/constructs", "./lib/base/construts"],
					["@base/stacks", "./lib/base/stacks"]
				],
				"extensions": [".ts", ".mts", ".js", ".jsx", ".json"]
			}
		}
	},
	"overrides": [
		{
			"files": [
				"**/**/*.ts",
				".github/**/*.ts",
				"lib/**/*.ts",
				"src/**/*.ts",
				"test/**/*.ts",
				"jest.config.ts",
				"**/**/*.json"
			]
		}
	]
}
